POSTGRES_DB=eventbooker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

EVENT_API_PORT=8080
FRONTEND_PORT=3000

SERVER_ADDR=:8080
GRACEFUL_SHUTDOWN_TIMEOUT=10s
DATABASE_URL=postgres://postgres:postgres@postgres:5432/eventbooker?sslmode=disable
DEFAULT_BOOKING_TTL=2m
WORKER_INTERVAL=5s

KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=notification.sent
KAFKA_GROUP_ID=notification-service

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USERNAME=weather.alerts@mail.ru
SMTP_PASSWORD=7P4pCRNaPO6V5ZHdrUUx
SMTP_FROM=weather.alerts@mail.ru
SMTP_USE_TLS=true
