SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USERNAME=weather.alerts@mail.ru
SMTP_PASSWORD=7P4pCRNaPO6V5ZHdrUUx
SMTP_FROM=weather.alerts@mail.ru
SMTP_USE_TLS=true

KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=notification.sent
KAFKA_GROUP_ID=notification-service
