SERVER_ADDR=:8080
GRACEFUL_SHUTDOWN_TIMEOUT=10s

DATABASE_URL=postgres://postgres:postgres@localhost:5432/eventbooker?sslmode=disable
DEFAULT_BOOKING_TTL=2m
WORKER_INTERVAL=5s

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=notification.sent
